{{define "content"}}
<h1 class="mb-4">Contact</h1>
<div class="flex flex-row flex-wrap-reverse">
    <div class="flex flex-col md:basis-1/2 gap-y-2">
        <div class="flex flex-row gap-x-2 items-center">
            <h2>Email:</h2>
            <a href="mailto:me@gsvd.dev">me@gsvd.dev</a>
        </div>
        <div class="flex flex-row gap-x-2 items-center">
            <h2>XMPP:</h2>
            <a href="xmpp:gsvd@gsvd.dev">gsvd@gsvd.dev</a>
            <div>-</div>
            <a class="text-xs" href="/static/omemo.txt" target="_blank">OMEMO</a>
        </div>
        
        <h2>Quick Links:</h3>
        <ul class="">
            <li><a href="https://github.com/Gsvd" target="_blank" rel="noopener noreferrer">Github</a></li>
            <li><a href="https://mas.to/@gsvd" target="_blank" rel="noopener noreferrer">Mastodon</a></li>
        </ul>
    </div>
    <div class="flex flex-col md:basis-1/2 gap-y-4">
        <p>Feel free to reach out if you have any questions, feedback, or just want to chat!</p>
        <p>Open to discussions if you think we'd be a good match for a project.</p>
    </div>
</div>
{{end}}