{{define "content"}}
<div class="flex flex-col gap-y-4">
  <h1>Meet Guillaume: crafting code, creating solutions</h1>
  <p>People-focused Software Developer with proven experience in ad-tech.</p>
  {{template "skills" .}}
  <h1>Experience</h1>
  <h2>[Optable] – Software Developer</h2>
  <div class="flex flex-col gap-y-2">
    <p>2024-08 - Today, Montréal, Québec, Canada</p>
  </div>
  <h2>[Synchronext] – Lead Software Developer</h2>
  <div class="flex flex-col gap-y-2">
    <p>2021-07 - 2024-01, Nice, France</p>
    <div class="flex flex-col gap-y-4">
      <ul class="list-disc">
        <li>
          Initiated and led a strategic technological overhaul to enhance
          platform integration with metasearch engines, significantly boosting
          the companys competitive edge in the market.
        </li>
        <li>
          Orchestrated the transition of our tech stack to more efficient
          technologies, significantly increasing the number of supported
          connections and laying the groundwork for future expansion.
        </li>
        <li>
          Demonstrated relentless pursuit of technological excellence,
          establishing scalable growth frameworks and affirming company's
          reputation as a key player in technology solutions.
        </li>
      </ul>
    </div>
  </div>
  <h2>[Synchronext] – Software Developer</h2>
  <div class="flex flex-col gap-y-2">
    <p>2020-11 - 2021-07, Nice, France</p>
    <div class="flex flex-col gap-y-4">
      <ul>
        <li>
          Enhanced application performance and stability, reducing bugs and
          user-generated tickets by automating repetitive tasks and implementing
          strategic fixes.
        </li>
        <li>
          Improved services reliability and user satisfaction, setting a
          precedent for subsequent advancements in technological practices
          within the company.
        </li>
        <li>
          Showcased rapid adaptability and a strong focus on technological and
          operational excellence, paving the way for promotion to a leadership
          role.
        </li>
      </ul>
    </div>
  </div>
  <h2>[Capgemini] – Software Developer Intern</h2>
  <div class="flex flex-col gap-y-2">
    <p>2017-07 - 2020-07, Sophia Antipolis, France</p>
    <div class="flex flex-col gap-y-4">
      <ul>
        <li>
          Engaged directly with clients such as Virbac and Thales Alenia Space,
          contributing to software development projects that met precise client
          specifications.
        </li>
        <li>
          Developed new features and performed bug fixes, enhancing application
          functionalities using Java, Spring, and AWS.
        </li>
        <li>
          Strengthened technical and client communication skills, ensuring
          successful project deliveries and fostering client satisfaction.
        </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
